body {
    background: black;
    
}

.post {
    background: white;
    width: 500px;
    height: 700px;
    margin: auto;
    border: 5px solid green;
    

}

.post-header {
    width: 500px;
    height: 75px;
}

.post-img {
    display: flex;
    padding-top: 50px;
    width: 500px;
    height: 300px;
    background-image: url(/assets/imgpostinstv2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
       
}
.post-icons {
    display: flex;
    width: 500px;
    height: 50px;
}
.post-body {
    
    width: 450;
    height: 215px;
}
p {
    font-size: 20px;
    color: rgb(3, 3, 61);
}
.post-icons {
  display: flex;
  justify-content: space-between; 
  align-items: center;            
  width: 490px;                   
  padding: 5px;
  font-size: 40px;
  
}
.icons-right {
    margin-right: 20px;
}
