body {
    background: black;   
}
.post-body {
    width: 450px;
    height: 215px;
    padding: 10px;
}
.post {
    background: white;
    width: 500px;
    height: 700px;
    margin: auto; 
}
.post-header {
    width: 500px;
    height: 75px;
}
.post-img {
    display: flex;
    padding-top: 50px;
    width: 500px;
    height: 300px;
    background-image: url(/assets/imgpostinstv2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;     
}
.post-icons {
  display: flex;
  justify-content: space-between; 
  align-items: center;            
  width: 500px; 
  height:50px;                  
  padding: 5px;
  font-size: 40px;
}
.icons-right {
    margin-right: 20px;
}
.icons-left {
  margin-left: 10px;
}
.icons-center p {
    margin-right: 330px;
    line-height: 0;
}
p {
    font-size: 20px;
    color: rgb(3, 3, 61);
}